@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

/* Reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, ul, ol, li, section {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

body {
   font: 400 1.125em 'Droid Sans Mono', monospace;
   line-height: 1.667em;
   text-rendering: optimizeLegibility;
 }


 a, .link {
    text-decoration: none;
    border-bottom: 2px solid rgba(0,0,100,0.1);
    color: rgb(55, 93, 192);
 }


header {
   display: block;
   height: 3em;
   line-height: 3em;
   background: rgba(214, 205, 188, 0.57);
}

h1 {
   border: none;
   font-weight: bold;
   color: rgba(0,0,0,0.66);
   float: left;
}

h1 span {letter-spacing: -0.15em}

h1 em {
   font-style: normal;
   color: rgba(0,0,0,0.33);
}
nav {
   width: 46em;
   position: absolute;
   left: 50%;
   margin-left: -23em;
}

nav a {
   transition: opacity 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
   float: right;
   display: block;
   opacity: 0.5;
   line-height: 3.41em;
   border-bottom: none;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   font-size: 0.88em;
   background: url('/public/images/audio_mute.svg') no-repeat 1em center;
   background-size: 1.16em;
   min-width: 1.16em;
   padding: 0 1em 0 2.77em;
   font-weight: bold;
   color: #000;
}
nav a:hover {opacity: 1.0}

#audio_toggle.enabled {
   background-image: url('/public/images/audio.svg');
}

#new_page {
   background-image: url('/public/images/new.svg');
   background-color: rgba(0,0,0,0.1);
   margin: 0 1em 0 0;

}

#input,
#output {
   width: 46em;
   height: 20em;
   outline: none;
   background: #fff;
   display: block;
   margin: 4em auto 0;
}

#input {position:absolute;top:-10000px;right: auto;left: 0}


#output div:last-child br {
   display: none!important;
   width: 0;height: 0;
   display: inline-block;
   clear: none;
}

#output div:last-child:after{
   content: "";
   width: 0.5em;
   height: 1.667em;
   margin: -0.334em 0 -0.234em;
   background: rgba(0,0,0,0.25);
   position: relative;
   top: 4px;
   display: inline-block;
   -webkit-transition: all 1.3s ease-in-out;
   -webkit-animation-direction: normal;
   -webkit-animation-duration: 1.3s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-name: blink;
   -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes blink {
    0% {opacity:1}
    50% {opacity:0}
    100% {opacity:1}
}