@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
   background: rgba(0,0,0,0.07);
}

#itch {
   position: absolute;
   top: 12px;
   left: 12px;
   width: 300px;
   display: none;
}

#caret {
   position: relative;top: -3000px
}

#input {
   min-height: 800px;
   width: 600px;
   border: 1px solid #000;
   padding: 12px;
   outline: none;
   background: rgba(0,0,0,0);
   position: absolute;
   z-index: 0;
   top: 24px;
   left: 30%;
   line-height: 24px;
   font: normal 24px/36px monospace;
}

