@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html, body, #homepage {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0
}

body {
   background: #f9f7f0;
   height: 100%;
   min-height: 100%;
}

#text_container {
   position: absolute;
   top: 0;
   left: 50%;
   width: 600px;
   height: 50%;
   margin-left: -300px;   
}
#text {
   text-align: center;
   position: absolute;
   top: 50%;
   height: 10em;
   margin-top: -2em;
   width: 100%
}
#about {
   position: absolute;
   bottom: 1.5em;
   width: 200px;
   right: -300px;
}
#about a {
   font-size: 0.88em;
   color: rgba(0,0,0,0.35);
   text-decoration: none;
} #about a em {
   font-weight: normal;
   font-style: normal;
   border-bottom: 2px solid rgba(0,0,0,0.1)
}
h2, h3, a {
   font-family: 'Droid Sans'
}

h1 {
   font-weight: bold;
   color: rgba(0,0,0,0.85);
   font-size: 2em;
   line-height: 1.5em;
   letter-spacing: 0.15em;
   text-transform: uppercase;
}

h2, h3, #about * {color: rgba(0,0,0,0.55);}
h3 {font-size: 0.77em;margin: 0}

#download {
   display: inline-block;
   padding: 0.33em 1em;
   margin: 3em 0 0.33em;
   color: #fff;
   text-decoration: none;
   text-shadow: 0 1px 0 rgba(0,0,1,.14);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   background-color: #ff8a00;
   -webkit-box-shadow: inset 0 1px 0 1px rgba(255,255,255,.15);
   -moz-box-shadow: inset 0 1px 0 1px rgba(255,255,255,.15);
   box-shadow: inset 0 1px 0 1px rgba(255,255,255,.15);
   border: solid 2px #d87500;
   transition: all 0.08s ease-in;  
}

#download:hover {
   background-color: #ff981e;
   border-color: #e67d00
}

#download:active {
   -webkit-box-shadow: inset 0 1px 0 -1px rgba(0,0,0,.15);
   -moz-box-shadow: inset 0 1px 0 -1px rgba(0,0,0,.15);
   box-shadow: inset 0 1px 0 -1px rgba(0,0,0,.15);
   background-color: #ef8100;
   padding: 0.4em 1em 0.26em;
   border-color: #d87500
}

#output {
   padding: 3em 0;
   margin-top: 1.5em;
   width: 106%;
   margin-left: -3%;
   z-index: 1000;
   max-height: 460px;
   overflow: scroll;
}

#demo:before, #demo:after {
   content: ' ';
   position: absolute;
   left: -116px;
   top: 0;
   width: 116px;
   height: 100%;
   background: url('./img/demo_bg_before.png') repeat-x 0 0;
   background-size: 116px;
}
#demo:after {
   right: -116px;
   left: auto;
   background-image: url('./img/demo_bg_after.png')
}
#demo {
   position: absolute;
   bottom: 0;
   height: 50%;
   max-height: 500px;
   left: 50%;
   width: 46%;
   margin-left: -23%;
   background: url('./img/demo_bg.png') repeat-x 0 0;
   background-size: 6px;
   border-bottom: none;
}

#output.solidCursor p:last-child:after {
  -webkit-animation: none
}
#output:after {
   display: none;