@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

/* Reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, ul, ol, li, section {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

body {
   font: 400 1em 'Droid Sans Mono', monospace;
   line-height: 1.5em;
   text-rendering: optimizeLegibility;
 }

/* Grey line underneath window frame */
body:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #888;
  position: fixed;
}

::selection {
   background: rgba(255,0,0,0.15); /* Safari */
}
::-moz-selection {
   background: #ffb7b7; /* Firefox */
}

.strikeOut {
    position: relative;
}

.strikeOut::after {
    border-bottom: 2px solid #000;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}




 a, .link {
    text-decoration: none;
    border-bottom: 2px solid rgba(0,0,100,0.1);
    color: rgb(55, 93, 192);
 }

header {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   color: #555;
   background: #343742;
   overflow: visible;
   line-height: 2em;
   font-family: 'Avenir Next'
}

nav {
   display: block;
   width: 46em;
   margin: 0 auto;
   height: 2em;
   padding: 0.5em 0;
}

#input,
#output {
   max-width: 50em;
   outline: none;
   display: block;
   position: relative;
   margin: 0 auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
   padding: 2em 3em;
 }

#input {position:absolute;top:0;left: -200%}

#output div:last-child br {
   display: none!important;
   width: 0;height: 0;
   display: inline-block;
   clear: none;
}

#output div:last-child:after{
   content: "\00a0";
   max-width: 0.25em;
   background: #ffc820;
   display: inline-block;
   -webkit-transition: all 1s ease-in-out;
   -webkit-animation-direction: normal;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-name: blink;
   -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes blink {
    0% {opacity:1}
    40%{opacity: 1}
    50% {opacity:0}
    90% {opacity: 0}
    100% {opacity:1}
}


@media all and (max-width: 960px) and (min-width: 600px) {

  body {font-size: 0.88em}  
}

@media all and (max-width: 2000px) and (min-width: 960px) {

  body {font-size: 1.11em}  
}
